<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<th th:fragment="column_link(fieldName,columnLabel,removeTag)" th:remove="${removeTag}">
		<a class="text-white" style="text-decoration:none"
			th:href="@{'/users/page/'+${currentPage}+'?sortField='+${fieldName}+'&sortDir='+${sortField != fieldName ? sortDir :reverseSortDir} +${keyword !=null ? '&keyword='+keyword :''}}">[[${columnLabel}]]
		</a>
		<a id="enabledRemainingInPage"
			th:href="@{'/users/page/'+${currentPage}+'?sortField='+${sortField}+'&sortDir='+${sortDir} +${keyword !=null ? '&keyword='+keyword :''}}"></a>

		<span th:if="${sortField ==fieldName}" th:class="${sortDir =='asc' ?'fas fa-sort-up':'fas fa-sort-down'}">

		</span>
	</th>


	<li th:fragment="pagination_link(columnLabel,currentPage,startPage,endPage)"
		th:class="${endPage >startPage ?'page-item':'page-item disabled'}">

		<a class="page-link"
			th:href="@{'/users/page/'+${currentPage}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword !=null ? '&keyword='+keyword :''}}">[[${columnLabel}]]</a>
	</li>

	<li th:fragment="pagination_link_loop" th:class="${currentPage != i ?'page-item' :'page-item active'}"
		th:each="i:${#numbers.sequence(1,totalPage)}">
		<a class="page-link"
			th:href="@{'/users/page/'+${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword !=null ? '&keyword='+keyword :''}}">[[${i}]]</a>

	</li>

	<th th:fragment="createNewAndExport(name)">
		<a th:if="${name != 'new'}" th:href="@{'/users/export/' + ${name}}"
			th:class="'fas fa-file-' + ${name} + ' fa-2x icon-dark mr-2'">
		</a>
		<a th:if="${name == 'new'}" th:href="@{'/users/new'}" class="fas fa-user-plus fa-2x icon-dark mr-2">
		</a>
		&nbsp; &nbsp;

	</th>

	<li th:fragment="createHeader(labelName , linkName)" class="nav-item">
		<a class="nav-link" th:href="@{'/'+${linkName}}">[[${labelName}]]</a>
	</li>



</body>

</html>