<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-type" content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Little Bear Admin control panel</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<style>
		.bottom-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			padding: 5px;
		}
		
		.rectangle {
            width: 80px;
            height: 100px;
            
            border-radius: 10px; /* Đặt bán kính bo tròn */
        }
	</style>
</head>

<body>

	<div class="container-fluid">

		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/logo.png}" width="80" height="50">

				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavBar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/users}">Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/categories}">Categories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/brands}">Brands</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/products}">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/customers}">Customers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/shipping}">Shipping</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/orders}">Orders</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/report}">Sale reports</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/articles}">Articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/menus}">Menus</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/settings}">Settings</a>
						</li>
					</ul>
				</div>

			</nav>
		</div>

		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}">Create New User</a>
		</div>


		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="table-dark">
					<tr>
						<th>User ID</th>
						<th>Photo</th>
						<th>Email</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Roles</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<img  class="rectangle" th:src="@{${user.getPhotoImagePath}}"></img>
							

						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.getRoles}]]</td>
						<td>

							<a th:if="${user.enabled== true}" id="trueStatus"
								class="fas fa-check-circle fa-2x icon-green"
								th:onclick="'updateDisableStatus(event,\'' + @{'/users/' + ${user.id} + '/status/false'} + '\')'"
								href="" title="Disable this user"></a>
							<a th:if="${user.enabled== false}" id="falseStatus"
								class="fas fa-check-circle fa-2x icon-dark"
								th:onclick="'updateEnabledStatus(event,\'' + @{'/users/' + ${user.id} + '/status/true'} + '\')'"
								href="" title="Enable this user"></a>



						</td>
						<td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/'+ ${user.id}}"
								title="Edit this user"></a>
							&nbsp;
							<a class="fas fa-trash fa-2x icon-dark link-delete"
								th:href="@{'/users/delete/'+ ${user.id}}" th:userId="${user.id}"
								title="Delete this user"></a>

						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Button trigger modal 1 -->
		<button type="button" style="display: none;" class="btn btn-primary" id="test" data-bs-toggle="modal"
			data-bs-target="#exampleModal">

		</button>


		<div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Delete confirmation</h1>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>
						<button type="button" class="btn btn-danger" id="closeDialog"
							data-bs-dismiss="modal">No</button>

					</div>
				</div>
			</div>
		</div>


		<!-- Button trigger modal 2 -->
		<div class="modal fade text-center" id="exampleModalToggle" aria-hidden="true"
			aria-labelledby="exampleModalToggleLabel" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalToggleLabel">Success</h1>

					</div>
					<div class="modal-body" id="modalBody2">

					</div>
					<div class="modal-footer">
						<a th:href="@{/users}"><button type="button" class="btn btn-secondary" id="closeDialog"
								data-bs-dismiss="modal">Close</button></a>

					</div>
				</div>
			</div>
		</div>

		<button class="btn btn-primary" style="display: none;" data-bs-target="#exampleModalToggle" id="test2"
			data-bs-toggle="modal">Open first
			modal</button>


		<p class="text-center ">LittleBear control panel - Copyright &copy;LittleBear </p>
	</div>

	<script>
		$(document).ready(function () {

			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				let href = $(this).attr("href");
				let userId = $(this).attr("userId");
				console.log("user id in delete ", userId)
				$("#modalBody").text("Are you sure want to delete the user ID " + userId + " ?")
				$("#yesButton").on("click", function (e1) {
					e1.preventDefault();
					$.ajax({
						type: "POST",
						url: href,
						success: function (result) {
							// Check the result and show the modal accordingly
							console.log("hello from yesButton and ajax ")
							$("#modalBody2").text("Delete user with ID " + userId + " successfully !!!")
							const myButton2 = document.getElementById('test2');
							myButton2.click();
						},
						error: function () {
						}
					});
				})
				const myButton = document.getElementById('test');
				myButton.click();
			})


		});
		function updateEnabledStatus(event, url) {

			$.ajax({
				type: "POST",
				url: url,
				success: function (result) {
					event.preventDefault();
					// Check the result and show the modal accordingly
					console.log("hello enable", url)
					window.location.href = "[[@{/users}]]";
				},
				error: function () {
				}
			});
		}

		function updateDisableStatus(event, url) {


			$.ajax({
				type: "POST",
				url: url,
				success: function (result) {
					event.preventDefault();
					// Check the result and show the modal accordingly
					console.log("hello disable", url)
					window.location.href = "[[@{/users}]]";
				},
				error: function () {
				}
			});
		}

	</script>

</body>

</html>